/* Toast style */
.toast-container {
    position: fixed;
    z-index: 9999;
    top: 20px;
    width: 100%;
    max-width:640px;
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    opacity: 0;
    text-align:center;
}

.toast-container.toast-active {
    opacity: 1
}

.toast-message-container {
    font-size: 14px;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #b7eb8f;
    background-color: #f6ffed;
    color: rgba(0,0,0,0.65);
    display: inline-block;
    min-width:100px;
}
